# --- Database ---
*.db

# --- Android ---
**/.gradle/
**/.idea/
**/build/
**/*.iml
local.properties

# --- Node / Web ---
**/node_modules/
dist/
.env

# Python cache
__pycache__/
*.pyc
# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd

# --- PlatformIO ---
firmware/ .pio
firmware/ .vscode